body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #1f1f1f;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

pre {
    text-align: left;
    font-size: 15px;
}

#content {
    margin: auto;
    width: 960px;
}